@model IEnumerable<IntersectionStatistics.Models.Statistic>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.decibels)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.counter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lap.id_lap)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.decibels)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.counter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lap.id_lap)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_stat }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_stat }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_stat })
        </td>
    </tr>
}

</table>
